<div id="container">
  <h1>Eat-Da-Burger!</h1>
  <div id="menu_container">
    <div id="in_menu">
      <h2>in Menu</h2>
      <ul id="inmenu_table">
        {{#each burgers}}
        {{#unless devoured}}
        <li class="burger_table">
          {{burger_name}}
          <button type="submit" class="devoured_button" data-id="{{id}}">DEVOURED
          </button>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div id="devoured">
      <h2>Devoured</h2>
      <ul id="devoured_table">
        {{#each burgers}}
        {{#if devoured}}
        <li> {{burger_name}} </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="form_group">
    <h2>Add a Burger</h2>
    <form class="create-form">
      <input type="text" id="burger_name" name="name" placeholder="Add new burger!" /><br>
      <button type="submit" id="add_burger">ADD BURGER</button>
      <form>
  </div>
  </form>
</div>